# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
veloura_env/

# Database
db.sqlite3

# Django Migrations
veloura_project/veloura_app/migrations/*

# Ignore environment variables
.env

# VS Code
.vscode/